In [114]:
# Author: Matt Terry <matt.terry@gmail.com>
#
# License: BSD 3 clause
from __future__ import print_function

import numpy as np

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.datasets import fetch_20newsgroups
from sklearn.datasets.twenty_newsgroups import strip_newsgroup_footer
from sklearn.datasets.twenty_newsgroups import strip_newsgroup_quoting
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC


class ItemSelector(BaseEstimator, TransformerMixin):
    """For data grouped by feature, select subset of data at a provided key.

    The data is expected to be stored in a 2D data structure, where the first
    index is over features and the second is over samples.  i.e.

    >> len(data[key]) == n_samples

    Please note that this is the opposite convention to scikit-learn feature
    matrixes (where the first index corresponds to sample).

    ItemSelector only requires that the collection implement getitem
    (data[key]).  Examples include: a dict of lists, 2D numpy array, Pandas
    DataFrame, numpy record array, etc.

    >> data = {'a': [1, 5, 2, 5, 2, 8],
               'b': [9, 4, 1, 4, 1, 3]}
    >> ds = ItemSelector(key='a')
    >> data['a'] == ds.transform(data)

    ItemSelector is not designed to handle data grouped by sample.  (e.g. a
    list of dicts).  If your data is structured this way, consider a
    transformer along the lines of `sklearn.feature_extraction.DictVectorizer`.

    Parameters
    ----------
    key : hashable, required
        The key corresponding to the desired value in a mappable.
    """
    def __init__(self, key):
        self.key = key

    def fit(self, x, y=None):
        return self

    def transform(self, data_dict):
        return data_dict[self.key]
# import codecs
# import json

# def read_dataset(path):
#   with codecs.open(path, 'r', 'utf-8') as myFile:
#     content = myFile.read()
#   dataset = json.loads(content)
#   return dataset

# if __name__ == '__main__':
#   path = 'data/pizza_request_dataset.json'
#   dataset = read_dataset(path)
  
#   print 'The dataset contains %d samples.' %(len(dataset))
#   print 'Available attributes: ', sorted(dataset[0].keys())
#   print 'First post:'
#   print json.dumps(dataset[0], sort_keys=True, indent=2)

#   successes = [r['requester_received_pizza'] for r in dataset]
#   success_rate = 100.0 * sum(successes) / float(len(successes))
#   print 'The average success rate is: %.2f%%' %(success_rate)

In [117]:
import pandas as pd
import json
import codecs
import re
import random
import numpy as np

###load JSON file
file_name = 'data/pizza_request_dataset.json'
dataset = read_dataset(file_name)
df = pd.read_json(json.dumps(dataset, sort_keys=True, indent=2))
###create random 90-10 split
X = df
rows = random.sample(X.index, int(0.9*len(X)) + 1)
X_train = X.ix[rows]
X_test = X.drop(rows)
y_train = X_train.requester_received_pizza.astype(int)
y_test = X_test.requester_received_pizza.astype(int)

# print "Data loading and train-test splits = DONE!"
###

In [119]:
###Model 1 - a) n-grams

### build pipeline; fit train; predict on test
import nltk
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm

##vectorizer arguments blah!

tokenizer=None#word_tokenize
# stop_words=nltk.corpus.stopwords.words("english")#None
ngram_range=(1, 2)
lowercase=True
max_features=500
binary=False
dtype=np.float64

###create unigram vectorizer
uniVect = CountVectorizer(decode_error="ignore",
#                                tokenizer=tokenizer,
#                                stop_words=stop_words,
                               ngram_range=(1,1),
                               lowercase=lowercase,
                               binary=binary,
                               dtype=dtype,
                               max_features=max_features)

###create bigram vect
biVect = CountVectorizer(decode_error="ignore",
#                                tokenizer=tokenizer,
#                                stop_words=stop_words,
                               ngram_range=(2,2),
                               lowercase=lowercase,
                               binary=binary,
                               dtype=dtype,
                               max_features=max_features)

# load custom features and FeatureUnion with Vectorizer
features = []
features.append(('unigram', uniVect))
features.append(('bigram', biVect))
all_features = FeatureUnion(features)

linear_svc = svm.SVC(kernel='linear', probability=True)

###create pipeline
text_clf = Pipeline([
                     ('all', all_features),
#                      ('tfidf', TfidfTransformer()),
                    ('clf', linear_svc),
                    ])

# text_clf = Pipeline([
#                      ('vect', vectorizer),
# #                      ('tfidf', TfidfTransformer()),
#                     ('clf', linear_svc),
#                     ])

###fit training data
text_clf = text_clf.fit(X_train.request_text_edit_aware, y_train)

### predict on test data
predicted = text_clf.predict(X_test.request_text_edit_aware)
np.mean(predicted == y_test)
# print "NO!"
probas = text_clf.predict_proba(X_test.request_text_edit_aware)
# print "YO!"
###get performance metrics
from sklearn.metrics import accuracy_score, precision_recall_fscore_support
accuracy = accuracy_score(y_test,predicted)
#         accuracy = np.mean(y_CVtest == predicted)
precision, recall, fscore, sup = precision_recall_fscore_support(y_test, predicted, average='binary', pos_label=0)
print precision, recall, fscore, accuracy# np.mean(predicted == y_test)
from sklearn.metrics import roc_auc_score
# roc_auc = roc_auc_score(y_test, predicted)
roc_auc = roc_auc_score(y_test, probas[:,1])
print "ROC = ", roc_auc

SyntaxError: invalid syntax (<ipython-input-119-9ad50ecf7942>, line 74)

ROC =  0.548414105595

In [ ]:
# Activity and Reputation features

###Model 1 - a) n-grams

### build pipeline; fit train; predict on test
import nltk
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC


###create pipeline
text_clf = Pipeline([
                     ('vect', vectorizer),
                    ('clf', LinearSVC(C=0.1)),
                    ])

###fit training data
text_clf = text_clf.fit(X_train.request_text_edit_aware, y_train)

### predict on test data
predicted = text_clf.predict(X_test.request_text_edit_aware)
np.mean(predicted == y_test)

In [47]:
from sklearn.base import BaseEstimator, TransformerMixin

class ActivityExtractor(BaseEstimator, TransformerMixin):

    def __init__(self, vars):
        self.vars = vars  # e.g. pass in a column name to extract

    def transform(self, X, y=None):
#         return do_something_to(X, self.vars)  # where the actual feature extraction happens
        return X[self.vars]
    def fit(self, X, y=None):
        return self  # generally does nothing

# class SampleExtractor(BaseEstimator, TransformerMixin):

#     def __init__(self, vars):
#         self.vars = vars  # e.g. pass in a column name to extract

#     def transform(self, X, y=None):
#         return do_something_to(X, self.vars)  # where the actual feature extraction happens

#     def fit(self, X, y=None):
#         return self  # generally does nothing

from sklearn.pipeline import Pipeline, FeatureUnion
pipeline = Pipeline([
    ('feats', FeatureUnion([
        ('act', ActivityExtractor("requester_subreddits_at_request")), # can pass in either a pipeline
#         ('rep', ReputationExtractor()) # or a transformer
    ])),
    ('clf', LinearSVC(C=0.1))  # classifier
])

###fit training data
text_clf = text_clf.fit(X_train, y_train)

### predict on test data
predicted = text_clf.predict(X_test)
np.mean(predicted == y_test)

ValueError: Found arrays with inconsistent numbers of samples: [  33 5104]

In [45]:
pipeline

Pipeline(steps=[('feats', FeatureUnion(n_jobs=1,
       transformer_list=[('act', ActivityExtractor(vars='requester_subreddits_at_request'))],
       transformer_weights=None)), ('clf', LinearSVC(C=0.1, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [112]:
# Author: Matt Terry <matt.terry@gmail.com>
#
# License: BSD 3 clause
from __future__ import print_function

import numpy as np

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.datasets import fetch_20newsgroups
from sklearn.datasets.twenty_newsgroups import strip_newsgroup_footer
from sklearn.datasets.twenty_newsgroups import strip_newsgroup_quoting
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC


class ItemSelector(BaseEstimator, TransformerMixin):
    """For data grouped by feature, select subset of data at a provided key.

    The data is expected to be stored in a 2D data structure, where the first
    index is over features and the second is over samples.  i.e.

    >> len(data[key]) == n_samples

    Please note that this is the opposite convention to scikit-learn feature
    matrixes (where the first index corresponds to sample).

    ItemSelector only requires that the collection implement getitem
    (data[key]).  Examples include: a dict of lists, 2D numpy array, Pandas
    DataFrame, numpy record array, etc.

    >> data = {'a': [1, 5, 2, 5, 2, 8],
               'b': [9, 4, 1, 4, 1, 3]}
    >> ds = ItemSelector(key='a')
    >> data['a'] == ds.transform(data)

    ItemSelector is not designed to handle data grouped by sample.  (e.g. a
    list of dicts).  If your data is structured this way, consider a
    transformer along the lines of `sklearn.feature_extraction.DictVectorizer`.

    Parameters
    ----------
    key : hashable, required
        The key corresponding to the desired value in a mappable.
    """
    def __init__(self, key):
        self.key = key

    def fit(self, x, y=None):
        return self

    def transform(self, data_dict):
        return data_dict[self.key]
    
# ('selector', ItemSelector(key='subject'))

from sklearn.pipeline import Pipeline, FeatureUnion
# pipeline = Pipeline([
#     ('feats', FeatureUnion([
#         ('downvotes', ItemSelector("number_of_downvotes_of_request_at_retrieval")), # can pass in either a pipeline
#         ('upvotes', ItemSelector("number_of_upvotes_of_request_at_retrieval")) # or a transformer
#     ])),
#     ('clf', LinearSVC(C=0.1))  # classifier
# ])
pipeline = Pipeline([
    ('downvotes', ItemSelector("number_of_downvotes_of_request_at_retrieval")),
    ('clf', LinearSVC(C=0.1)),  # classifier
])

# post_was_edited
# requester_account_age_in_days_at_request

###fit training data
pipeline.fit(X_train, y_train)

### predict on test data
predicted = pipeline.predict(X_test)
np.mean(predicted == y_test)

/usr/local/lib/python2.7/dist-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: Found arrays with inconsistent numbers of samples: [   1 5105]

In [89]:
ds = ItemSelector(key='number_of_downvotes_of_request_at_retrieval')
ds.transform(data)

TypeError: list indices must be integers, not str

In [94]:
y_train = pd.Da

2596    0
5266    0
4544    0
5061    0
1578    1
410     0
644     0
2779    0
3695    0
2618    0
1949    0
4684    0
2855    0
1735    1
417     0
...
156     1
5277    0
5044    0
1742    1
2203    0
4528    0
3503    0
2696    0
1633    1
3188    0
3902    0
4683    0
3609    0
3699    0
1676    1
Name: requester_received_pizza, Length: 5104, dtype: int64

In [111]:
X_train

     giver_username_if_known in_test_set  \
2596                     N/A       False
5266                     N/A        True
4544                     N/A        True
5061                     N/A        True
1578                     N/A       False
410                      N/A       False
644                      N/A       False
2779                     N/A       False
3695                     N/A       False
2618                     N/A       False
1949                     N/A       False
4684                     N/A        True
2855                     N/A       False
1735                     N/A       False
417                      N/A       False
276                      N/A       False
2322                     N/A       False
2014                     N/A       False
4241            danteburning        True
1188                     N/A       False
446                      N/A       False
511                      N/A       False
3270                     N/A       False
1155                     N/A       False
3880                     N/A       False
985                      N/A       False
298                      N/A       False
2326                     N/A       False
1995                     N/A       False
1178                     N/A       False
2755                     N/A       False
1901                     N/A       False
4548                     N/A        True
4635                     N/A        True
4869                     N/A        True
3694                     N/A       False
3621                     N/A       False
5308                     N/A        True
546                      N/A       False
4861                     N/A        True
5529                     N/A        True
4073                     N/A        True
2675                     N/A       False
2349                     N/A       False
4765                     N/A        True
3289                     N/A       False
415                      N/A       False
4364                     N/A        True
718                      N/A       False
2617                     N/A       False
1888            hermanobluth       False
3770                     N/A       False
421                      N/A       False
4622                     N/A        True
1538                     N/A       False
1422                     N/A       False
5517                     N/A        True
875                      N/A       False
2024                     N/A       False
4341                     N/A        True
                         ...         ...

      number_of_downvotes_of_request_at_retrieval  \
2596                                            0
5266                                            1
4544                                            7
5061                                            1
1578                                            3
410                                             0
644                                             1
2779                                            7
3695                                            3
2618                                            1
1949                                            1
4684                                            3
2855                                            3
1735                                            6
417                                             1
276                                             4
2322                                            0
2014                                            2
4241                                            1
1188                                            1
446                                             1
511                                             0
3270                                            3
1155                                            2
3880                                            5
985                                             5
298                                             0
2326                                            3
1995                                            6
1178                                            1
2755                                            1
1901                                            1
4548                                            1
4635                                            2
4869                                            5
3694                                            2
3621                                            1
5308                                            5
546                                             2
4861                                            1
5529                                            0
4073                                            1
2675                                            0
2349                                            0
4765                                            5
3289                                            1
415                                             0
4364                                            0
718                                             1
2617                                            3
1888                                            1
3770                                            2
421                                             4
4622                                            4
1538                                            0
1422                                            2
5517                                            2
875                                             4
2024                                            1
4341                                            6
                                              ...

      number_of_upvotes_of_request_at_retrieval  post_was_edited request_id  \
2596                                          7                0   t3_jf027
5266                                          5       1380483094  t3_1nbrku
4544                                         12                0  t3_11s3p3
5061                                          1                0   t3_iypmh
1578                                          6                0   t3_s71nl
410                                           4                0   t3_k7vh5
644                                           2                0  t3_1mjf8o
2779                                          5                0  t3_1nehkl
3695                                          4                0  t3_1996pd
2618                                          9                0   t3_opnwu
1949                                          3                0   t3_mxsww
4684                                          5                1   t3_k4gza
2855                                          5                0   t3_kma5h
1735                                         11                0   t3_p7my1
417                                           9                0  t3_14tq1i
276                                           5                0  t3_1la4qw
2322                                          8                0   t3_xl5wz
2014                                         13                0  t3_1hhjs2
4241                                          2                0  t3_1lfolk
1188                                         10                1   t3_jyac3
446                                           6                0   t3_nyxfh
511                                           2       1339621093   t3_v0gb8
3270                                          3                0   t3_sr2y9
1155                                          3                0   t3_k5n0s
3880                                          6                0   t3_tzuki
985                                           3       1378001828  t3_1lhuir
298                                           2                0   t3_iqm6n
2326                                          4                0  t3_12nnks
1995                                          7                0  t3_17ifsw
1178                                          2                0   t3_j4i0t
2755                                          2                0   t3_w50hm
1901                                          4                0  t3_1id1k2
4548                                          4                0   t3_j8iuv
4635                                          0                0   t3_y36b3
4869                                         16                0   t3_jdfhh
3694                                          3                0  t3_1cwhzy
3621                                          4                0  t3_1m6wo6
5308                                          9                0  t3_128jt5
546                                           4                0  t3_1dfkhd
4861                                          5                0   t3_iburr
5529                                          2                0  t3_1mvp23
4073                                          4                0   t3_ilt19
2675                                          1                1   t3_r06f9
2349                                          3                0   t3_scg6o
4765                                         12                0  t3_1md6b9
3289                                          2                0  t3_157fqg
415                                           6                0   t3_kl5c3
4364                                          3                0   t3_sydf2
718                                          10                0   t3_ixx53
2617                                          3                0  t3_17kz10
1888                                          4                0   t3_mmz3i
3770                                          4       1350068221  t3_11ci8m
421                                           4                0  t3_10w7r5
4622                                         18                0  t3_1af9hg
1538                                          5                0   t3_hhgic
1422                                          3                0  t3_1923em
5517                                          3                0  t3_12x5q1
875                                           6                0  t3_1bve6a
2024                                          2                1   t3_lbp8d
4341                                         14                0  t3_1gzjki
                                            ...              ...        ...

      request_number_of_comments_at_retrieval  \
2596                                        9
5266                                        5
4544                                        0
5061                                        0
1578                                        3
410                                         4
644                                         0
2779                                        3
3695                                        0
2618                                        0
1949                                        3
4684                                       12
2855                                        0
1735                                        4
417                                         0
276                                         3
2322                                        4
2014                                        0
4241                                        4
1188                                        7
446                                         7
511                                         1
3270                                        1
1155                                        0
3880                                        3
985                                         2
298                                         6
2326                                        1
1995                                        0
1178                                        1
2755                                        1
1901                                        1
4548                                        0
4635                                        1
4869                                        5
3694                                        0
3621                                        0
5308                                        0
546                                         0
4861                                        7
5529                                        0
4073                                        3
2675                                        7
2349                                        0
4765                                        0
3289                                        0
415                                         1
4364                                        1
718                                         2
2617                                        0
1888                                        2
3770                                        4
421                                         0
4622                                        3
1538                                        3
1422                                        1
5517                                        0
875                                         0
2024                                        0
4341                                        8
                                          ...

                                           request_text  \
2596  A pizza and hopefully a story about your life ...
5266  I wasn't sure if this was considered a contest...
4544  I just got home from working a 15 hour shift, ...
5061  I am currently at work, surrounded by people w...
1578                Biochemistry is a hell of a major.
410   Before making this post, I did read through se...
644                              Hope I get a response!
2779  It's not about the food. I have dinner already...
3695  Hey there guys I was just flicking through ran...
2618  My girlfriend and I live together and usually ...
1949  Loads of work to do and I'm sat here bashing i...
4684  Hi, I'm a retired Army Sargeant going through ...
2855  I often buy pizza and ramen and things like th...
1735  I'm 36 weeks pregnant, and currently broke unt...
417   Title says it all.  Don't have enough money fo...
276   My wife and I are avid pizza fans, but this mo...
2322  Title is a pretty good TL;DR. Boss needed a sc...
2014  unemployed, not eating tonight, thought id at ...
4241  Helloooo, I just got my wisdom teeth taken out...
1188  hello fellow redditors,\n\nI am a contract pro...
446   Things didn't go quite as planned and I ended ...
511   Austin, TX   We get paid Friday and I think my...
3270  My siblings and I are hungry for some pizza, w...
1155  Seriously hungry and hoping for some help. Ban...
3880  Hey, everyone. \n\nBetween my roommate and mys...
985   Sad girls seek pizza in Southeast Masachusetts...
298   Hi im the Mom of 5 One is on his own im home w...
2326  Copy pasting my post I made in /r/RandomActsOf...
1995  My brother called me to ask if I could drive t...
1178  Hey! So I just moved across the country for sc...
2755  Before I tell my story this is a throw away ac...
1901  Title says it all. I'm a poor college student ...
4548  Schools starting again, i've barely got enough...
4635  Hi everyone,\nI'm mainly a lurker which explai...
4869  Hello,\n\nI've been wanting a pizza for a whil...
3694  It would be amazingly appreciated and make bot...
3621  I have about -$5 in my bank account and a beyo...
5308  Hey everybody, I've read through a lot of thes...
546   Hey guys, me and my friend Taylor are both in ...
4861  My fridge broke 4 weeks ago and I've been surv...
5529  Hey RAoP!\n\nTomorrow (Sunday Sept 22) is my o...
4073  My partner and I are currently both out of wor...
2675  [Pizza received]\n\nBelieve it or not, my *par...
2349  Hello RAOP. We are 3 guys at work and would li...
4765  No car and I refuse to waste money on gas stat...
3289  My roommate and I finished our finals today, o...
415   Working in Atlanta, absolutely willing to pizz...
4364  I missed two weeks of work earlier this month ...
718   I'm home from college for the summer and my pa...
2617  Hey Redditors,\n\nIt has been awhile since I'v...
1888  I had applied for this job that would have bee...
3770  currently living in my car with my 55 year old...
421   I have a 7 year old son named Isaac and we don...
4622  My roomate and I (two average college guys) ju...
1538  I've locked myself away and am zealously worki...
1422  I'm not going to bore you with a long-winded e...
5517  Hey guys, so my little sister is upset as her ...
875   I say "anything" but personal information is a...
2024  So my story... I'm a university student, busy ...
4341  So, long story short, today has been a really ...
                                                    ...

                                request_text_edit_aware  \
2596  A pizza and hopefully a story about your life ...
5266  I wasn't sure if this was considered a contest...
4544  I just got home from working a 15 hour shift, ...
5061  I am currently at work, surrounded by people w...
1578                Biochemistry is a hell of a major.
410   Before making this post, I did read through se...
644                              Hope I get a response!
2779  It's not about the food. I have dinner already...
3695  Hey there guys I was just flicking through ran...
2618  My girlfriend and I live together and usually ...
1949  Loads of work to do and I'm sat here bashing i...
4684  Hi, I'm a retired Army Sargeant going through ...
2855  I often buy pizza and ramen and things like th...
1735  I'm 36 weeks pregnant, and currently broke unt...
417   Title says it all.  Don't have enough money fo...
276   My wife and I are avid pizza fans, but this mo...
2322  Title is a pretty good TL;DR. Boss needed a sc...
2014  unemployed, not eating tonight, thought id at ...
4241  Helloooo, I just got my wisdom teeth taken out...
1188  hello fellow redditors,\n\nI am a contract pro...
446   Things didn't go quite as planned and I ended ...
511   Austin, TX   We get paid Friday and I think my...
3270  My siblings and I are hungry for some pizza, w...
1155  Seriously hungry and hoping for some help. Ban...
3880  Hey, everyone. \n\nBetween my roommate and mys...
985   Sad girls seek pizza in Southeast Masachusetts...
298   Hi im the Mom of 5 One is on his own im home w...
2326  Copy pasting my post I made in /r/RandomActsOf...
1995  My brother called me to ask if I could drive t...
1178  Hey! So I just moved across the country for sc...
2755  Before I tell my story this is a throw away ac...
1901  Title says it all. I'm a poor college student ...
4548  Schools starting again, i've barely got enough...
4635  Hi everyone,\nI'm mainly a lurker which explai...
4869  Hello,\n\nI've been wanting a pizza for a whil...
3694  It would be amazingly appreciated and make bot...
3621  I have about -$5 in my bank account and a beyo...
5308  Hey everybody, I've read through a lot of thes...
546   Hey guys, me and my friend Taylor are both in ...
4861  My fridge broke 4 weeks ago and I've been surv...
5529  Hey RAoP!\n\nTomorrow (Sunday Sept 22) is my o...
4073  My partner and I are currently both out of wor...
2675  [Pizza received]\n\nBelieve it or not, my *par...
2349  Hello RAOP. We are 3 guys at work and would li...
4765  No car and I refuse to waste money on gas stat...
3289  My roommate and I finished our finals today, o...
415   Working in Atlanta, absolutely willing to pizz...
4364  I missed two weeks of work earlier this month ...
718   I'm home from college for the summer and my pa...
2617  Hey Redditors,\n\nIt has been awhile since I'v...
1888  I had applied for this job that would have bee...
3770  currently living in my car with my 55 year old...
421   I have a 7 year old son named Isaac and we don...
4622  My roomate and I (two average college guys) ju...
1538  I've locked myself away and am zealously worki...
1422  I'm not going to bore you with a long-winded e...
5517  Hey guys, so my little sister is upset as her ...